@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "PT Sans Narrow", serif;
}
:root {
    --bg-color: #11071e;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --section-bg: #0a1727;
    --card-item-bg: linear-gradient(136deg, #0a1727, #376e92);

}

body {
    background: var(--bg-color) !important;
   
}


h1,h2,h3,h4,h5,h6{
  color: #fff !important;

}

p{
    color: var(--text-color) !important;
}
.btn-custom{
    background-color:#376e92;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
}

.btn-custom-two{
    background: linear-gradient(136deg, #0a1727, #376e92);
    border:none;
    padding:10px 26px;
    border-radius:5px;
    color:white;
    font-weight:600;
    box-shadow:0 0 15px rgba(170,0,255,.6);
    transition:.3s;
    text-decoration: none;
}

.header_section{
  margin-top: 20px;
   position: sticky;
    top: 0;
   
}
.header_section .navbar{
    background: var(--second-bg-color);
    padding: 10px 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 4px;
    max-width: 1200px;
    margin: 0 auto;
   


}
.header_section .nav-link{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin-left: 20px;
}
.header_section .nav-link.active{
    color: #FF6B00 !important;
}
.header_section .nav-link:hover{
    color: #FF6B00;
}
#menu-main-menu li{
    color: #fff !important;
    display: inline-block !important;
    position: relative;
}
#menu-main-menu li a{
    color: #fff !important;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    margin-left: 20px;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #0f172a;
  min-width: 180px;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.submenu li a {
  display: block;
  padding: 12px 16px;
  color: #e5e7eb;
  text-decoration: none;
  transition: background 0.3s;
}
.submenu li a:hover {
  background: #2563eb;
  color: #fff;
}
.navbar-toggler-icon{
    color: #fff !important;
}
.navbar-toggler {
    border: none;
    background: transparent !important;
    color: #fff !important;
}
/* about css start */
.about_section{
    background: var(--section-bg);
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 6px;

  
}
.about_content{
    padding: 10px 20px;
   
}
.about_content p{
    font-size: 18px;
 
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
}

.about_image img{
  max-width: 100%;
  border-radius: 8px !important;


}
.social_links a{
    color: #fff;
    font-size: 20px;
    margin-right: 8px;
    transition: color 0.3s ease;
    background: #333;
    padding: 6px 12px;
    border-radius: 4px;

}

.social_links a:hover{
    color: #FF6B00;
}

/* about css end */
/* skill section start */

.skill_section {
    background: var(--section-bg);
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 6px;

}
.skill_item ul li{
    color: #fff !important;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 0px 10px;
    margin: 0px 0 !important;
    list-style: none;
    font-size: 17px;
}


.skill {
margin-bottom: 22px;
}


.skill-title {
display: flex;
justify-content: space-between;
font-weight: 600;
margin-bottom: 8px;
}



.skill-title span {
color: #ccc;
}

.progress-bar {
background: #e0e0e0 !important;
height: 10px;
border-radius: 5px;
overflow: hidden;
border-radius: 5px;
}


.progress {
height: 100%;
border-radius: 5px;
animation: fill 2s ease-in-out forwards;

}


 .progress.html { width: 95%; background: #e44d26; }
.progress.css { width: 90%; background: #264de4; }
.progress.js { width: 80%; background: #f0db4f; }
.progress.php { width: 75%; background: #777bb3; }
.progress.wordpress { width: 75%; background: #777bb3; }


@keyframes fill {
      from { width: 0; }

    }
/* skill css end */


/* experience section */
.experience_section {
    background: var(--section-bg);
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 6px;
}

.experience_item {
    background: var(--card-item-bg);
    border-radius:5px;
    padding:20px;
    color:white;
   box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
   backdrop-filter: blur(20px);
}

.experience_item h3 {
    color: #FF6B00;
}

.experience_item h4 {
    color: #ccc;
}

.experience_item p {
    color: #ccc;
}
.experience_item .duration {
    font-style: italic;
    color: #999;
    margin-bottom: 10px;
}
/* experience section end */

/* education section */
.education_section {
    background: var(--section-bg);
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 6px;
}

.education_item {
    padding: 15px;
    background: var(--card-item-bg);
    border-radius: 4px;
}

.education_item h3 {
    color: #FF6B00;
}

.education_item h4 {
    color: #ccc;
}

.education_item p {
    color: #ccc;
}
/* education section end */
/* portfolio section */

.portfolio_section {
    background: var(--section-bg);
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 6px;
    padding: 20px;
}
.portfolio_item {
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    background: var(--card-item-bg) !important;
    padding: 10px;
}
.portfolio_item img {
    width: 100%;
    transition: transform 0.3s ease;
}
.portfolio_item img:hover {
    transform: scale(1.05);
}

/* portfolio section end */

/* blog section */
.blog_section {
    background: var(--section-bg);
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 6px;
    padding: 20px;
}
.blog_item {
    background: var(--card-item-bg);
    border-radius: 4px;
    padding: 15px;
}
.blog_item img {
    width: 100%;
}
.blog_item h4 a {
    color: #FF6B00;
}
.blog_item p {
    color: #ccc;
}

/* blog section end */

/* contact section */
.contact_section {
    background: var(--section-bg);
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 6px;
    padding: 20px;
}
.contact_item {
    background: var(--card-item-bg);
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0px;

}
.contact_item h4 {
 text-align: center;

}
.contact_item i {
    color: #fff !important;
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
.contact_item span {
    color: #fff !important;
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
    text-align: center;
}

.contact_item a {
    color: #fff !important;
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
    text-align: center;
}




.contat_info ul li{
    color: #fff !important;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 5px ;
    margin: 10px 0 !important;
}
.contat_info ul li a{
    color: #fff !important;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 5px ;
    margin: 10px 0 !important;
}

.contat_info ul li i{
    color: #fff !important;
    text-decoration: none;
    transition: color 0.3s ease;
}
.contact_section input,
.contact_section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background: #222;
    color: #fff;
}
.contact_section input::placeholder,
.contact_section textarea::placeholder {
    color: #888;
}

/* contact section end */

/* footer css start */
footer{
    background: var(--second-bg-color);
    padding: 2px 0;
    margin-top: 10px;
    max-width: 1200px;
    margin: 0 auto;
}


